<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=.8">
   <title>My.ICI Home</title>
<link rel="stylesheet" href=".\_assets/css/bootstrap.min.css">
<link rel="stylesheet" href=".\_assets/css/dev.css">
</head>

<body>
	<div class="container-fluid">
	<div class="row">
		
			<!-- <div class="nav navbar-nav"> -->
				<img src="_assets/img/logo3.png">
			<!-- </div> -->
			
			<!-- <p class="header">Hello Mr./Mrs. Nunag! | <a href="#"> Logout</a></p> -->
				
		
	</div>
	</div>

	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-offset-1">
			<div>
				<img name="student_photo" src="_assets/img/facebook-default-no-profile-pic2.jpg" class="under1">
				<p class="over" name="student_name">John Richael Nunag</p>
				<img src="_assets/img/img-f2.png" class="under">
			</div>
			<div class="sidebar">
				<ul class="nav">
					<li class="li2"><a href="p_index.html"><b>HOME</b></a></li>
					<li class="li2"><a href="p_grades.html"><b>GRADES</b></a></li>
					<li class="li2"><a href="p_clearance.html"><b>CLEARANCE</b></a></li>
					<li class="li2"><a href="OL_Mess.html"><b>ONLINE MESSAGING</b></a></li>
				</ul>
			</div> 
		</div> <!-- end of col-lg-2 -->
		<div class="col-lg-8 main">
			<div class="">		
				<div class="well">		
					<div class="minhead">
						<h3><span class="glyphicon glyphicon-user"></span>ONLINE MESSAGING</h3>
					</div>
					<br><br>
					<form class="form-horizontal">
					  <div class="form-group">
						<label class="col-sm-2 control-label">From:</label>
						<div class="col-sm-10">
						  <input type="email" class="form-control" id="inputEmail3">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label">Subject: </label>
						<div class="col-sm-10">
						  <input type="email" class="form-control" id="inputEmail3">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label">To: </label>
						<div class="col-sm-10">
						  <input type="email" class="form-control" id="inputEmail3">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label">CC: </label>
						<div class="col-sm-10">
						  <input type="email" class="form-control" id="inputEmail3">
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-2 control-label">BCC: </label>
						<div class="col-sm-10">
						  <input type="email" class="form-control" id="inputEmail3">
						</div>
					  </div>
					<textarea class="form-control" rows="3"></textarea>
					</form>
					<br>
					<div class="row">
						<button type="button" class="btn btn-default"><a href="edit_prof.html">Cancel</a></button> 
						<button type="button" class="btn btn-default">Send</button>
					</div>
					<br>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	<br>
	<br>
</body>
</html>