<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>My.ICI ASSESSMENT FEES</title>
<link rel="stylesheet" href=".\_assets/css/bootstrap.min.css">
<link rel="stylesheet" href=".\_assets/css/dev.css">
</head>

<body>
	<div class="container-fluid">
	<div class="row">
		<img src="_assets/img/logo3.png">
		<p class="header">Hello Mr./Mrs. Nunag! | <a href="#"> Logout</a></p>	
	</div>
	</div>
	
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-1">
			<div>
				<img name="student_photo" src="_assets/img/facebook-default-no-profile-pic2.jpg" class="under1">
				<p class="over" name="student_name">John Richael Nunag</p>
				<img src="_assets/img/img-f2.png" class="under">
			</div>

			<div class="sidebar">
				<ul class="nav">
					<li class="li2"><a href="p_index.html"><b>HOME</b></a></li>
					<li class="li2"><a href="p_grades.html"><b>GRADES</b></a></li>
					<li class="li2"><a href="p_clearance.html"><b>CLEARANCE</b></a></li>
					<li class="li2"><a href="OL_Mess.html"><b>ONLINE MESSAGING</b></a></li>
					
				</ul>
			</div> 







		



		</div> <!-- end of col-lg-2 -->
		<div class="col-lg-8 main">
			<div class="">		
				<div class="well ">		
					<div class="minhead">
						<h3>CLEARANCE</h3>
					</div>
					<br><br>
					<table class="table table-bordered">
							<tr>
								<th>DESCRIPTION</th>
								<th>QTY</th>
								<th>AMOUNT</th>
								<th>SEM</th>
								<th>SY</th>
								<th>REMARKS</th>
								<th>OFFICE</th>
								<th>DATE OF TRANSACTION</th>
								<th>CLEARED?</th>
							</tr>
							<tr>
								<td>TEST</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>TEST</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>TEST</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
	<br>
	<br>
</body>
</html>