<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=.8">
   <title>My.ICI Home</title>
<link rel="stylesheet" href=".\_assets/css/bootstrap.min.css">
<link rel="stylesheet" href=".\_assets/css/dev.css">
</head>

<body>
	<div class="container-fluid">
	<div class="row">
		
			<!-- <div class="nav navbar-nav"> -->
				<img src="_assets/img/logo3.png">
			<!-- </div> -->
			
			<p class="header">Hello Mr./Mrs. Nunag! | <a href="#"> Logout</a></p>
				
		
	</div>
	</div>

	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-offset-1">
			<div>
				<img name="student_photo" src="_assets/img/facebook-default-no-profile-pic2.jpg" class="under1">
				<p class="over" name="student_name">John Richael Nunag</p>
				<img src="_assets/img/img-f2.png" class="under">
			</div>
			<div class="sidebar">
				<ul class="nav">
					<li class="li2"><a href="p_index.html"><b>HOME</b></a></li>
					<li class="li2"><a href="p_grades.html"><b>GRADES</b></a></li>
					<li class="li2"><a href="p_clearance.html"><b>CLEARANCE</b></a></li>
					<li class="li2"><a href="OL_Mess.html"><b>ONLINE MESSAGING</b></a></li>
				</ul>
			</div> 
		</div> <!-- end of col-lg-2 -->
		<div class="col-lg-8 main">
			<div class="">		
				<div class="well">		
					<div class="minhead">
						<h3><span class="glyphicon glyphicon-user"></span>STUDENT PROFILE</h3>
					</div>
					<br><br>
					<table class="table table-bordered">
							<tr>
								<th  colspan="3">
									ENROLLMENT INFORMATION
								</th>
							</tr>
							<tr>
								<td class="htr">Student ID Number</td>
								<td>****-******</td>
							</tr>
							<tr>
								<td>Name</td>
								<td></td>
							</tr>
							<tr>
								<td>Course</td>
								<td></td>
							</tr>
							<tr>
								<td>Last Enrolled</td>
								<td></td>
							</tr>
					</table>
					
					<table class="table table-bordered">
							<tr>
								<th  colspan="3">
									PERSONAL INFORMATION
								</th>
							</tr>
							<tr>
								<td class="htr">Gender</td>
								<td></td>
							</tr>
							<tr>
								<td>Civil Status</td>
								<td></td>
							</tr>
							<tr>
								<td>Contact Number</td>
								<td></td>
							</tr>
							<tr>
								<td>Permanent Address</td>
								<td></td>
							</tr>
							<tr>
								<td>Citizenship</td>
								<td></td>
							</tr>
							<tr>
								<td>Date of Birth</td>
								<td></td>
							</tr>
							<tr>
								<td>Place of Birth</td>
								<td></td>
							</tr>
							<tr>
								<td>Religion</td>
								<td></td>
							</tr>
							<tr>
								<td>Name of Father</td>
								<td></td>
							</tr>
							<tr>
								<td>Name of Mother</td>
								<td></td>
							</tr>
					</table>
					<br>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	<br>
	<br>
</body>
</html>