<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>My.ICI INC GRADE MONITOR</title>
<link rel="stylesheet" href=".\_assets/css/bootstrap.min.css">
<link rel="stylesheet" href=".\_assets/css/dev.css">
</head>

<body>
	<div class="container-fluid">
	<div class="row">
		<img src="_assets/img/logo3.png">
		<p class="header">Hello Rikel! | <a href="#"> Logout</a></p>
	</div>	
	</div>
	
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-offset-1">
			<div>
				<img name="student_photo" src="_assets/img/facebook-default-no-profile-pic2.jpg" class="under1">
				<p class="over" name="student_name">John Richael Nunag</p>
				<img src="_assets/img/img-f2.png" class="under">
			</div>
			<div class="sidebar">
				<ul class="nav">
					<li class="li2"><a href="index.html"><b>HOME</b></a></li>
					<li class="li2"><a href="stud_grades.html"><b>GRADES</b></a></li>
					<li class="li2"><a href="stud_clearance.html"><b>CLEARANCE</b></a></li>
					<li class="li2"><a href="stud_inc.html"><b>INC GRADE MONITOR</b></a></li>
					<li class="li2"><a href="stud_classSched.html"><b>CLASS SCHEDULE</b></a></li>
					<li class="li2"><a href="stud_assesment.html"><b>ASSESSMENT FEES</b></a></li>
					<li class="li2"><a href="stud_adminReq.html"><b>ADMISSION REQUIREMENTS</b></a></li>
				</ul>
			</div> 
		</div> <!-- end of sidebar -->
		<div class="col-lg-8 main ">
			<div class="">		
				<div class="well ">		
					<div class="minhead">
						<h3>INC GRADE MONITOR</h3>
					</div>
					<br><br>
					<table class="table table-bordered">
							<tr>
								<th>S.Y.</th>
								<th>SEM</th>
								<th>MOD</th>
								<th>SUBJCODE</th>
								<th>TIME</th>
								<th>SECTION</th>
								<th>SUBJECT DESCRIPTION</th>
								<th>CREDIT</th>
								<th>GRADE</th>
								<th>FACULTY</th>
							</tr>
							<tr>
								<td>TEST</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>TEST</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>TEST</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>	
	</div>
	<br>
	<br>
</body>
</html>